POSTGRES_DB=thebarcode
POSTGRES_USER=thebarcode
POSTGRES_PASSWORD=replace-with-a-long-random-password
JWT_KEY=replace-with-at-least-32-random-characters
BOOTSTRAP_ADMIN_PIN=choose-a-private-6-or-more-digit-pin
APP_PORT=8088
